<app-header [content]="pageContent.header"></app-header>
<div class="row">
    <div class="col-12 col-md-12">
        <p>{{ pageContent.body.description }}</p><br>
    </div>
    <div class="col-6 col-md-8">
        <h3>Author</h3>
        <p>{{ pageContent.body.author }}</p><br>
    </div>
    <div class="col-6 col-md-8">
        <h4>Price</h4>
        <p>￥ {{ pageContent.body.price }}</p><br>
    </div>
    <div class="col-6 col-md-8">
        <h4>Publication Date</h4>
        <p>{{ pageContent.body.publication_year }}</p><br><br>
    </div>
</div>

<!-- <div class="row">
    <div class="col-12 col-md-8">
        <h2>Reviews</h2><br>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-4">
        <h5>Bhargav</h5>
        <p>Amazing Book</p>
        <p>rating: 5</p>
    </div>
</div> -->

<!-- <div class="row">
    <div class="col-12 text-center">
        <button (click)="deleteThisManga(pageContent.id)">Delete Entry</button>
    </div> 
</div> -->