doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')  
    link(rel='stylesheet', href='/stylesheets/all.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block scripts
      scripts(src='/build/main.2c1ca22d6a6721298c0f.js')
      scripts(src='/build/polyfills.8c83b1725c7dddd66aba.js')
      scripts(src='/build/runtime.64ae2993c5aa3840a11c.js')
      scripts(src='/build/vendor.js')